<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About You</title>
</head>
<body>
    <div>
        <form method="get" th:if="${profile != null}">
            <label>
                <span>Имя</span>
                <input type="text" disabled th:value="${profile.getName()}" />
            </label>
            <label>
                <span>Фамилия</span>
                <input type="text" disabled th:value="${profile.getSurname()}" />
            </label>
            <label>
                <span>Отчество</span>
                <input type="text" disabled th:value="${profile.getMidName()}" />
            </label>
        </form>

        <form method="post" th:unless="${profile != null}">
            <label>
                <span>Имя</span>
                <input type="text" required name="name" placeholder="Иван"/>
            </label>
            <label>
                <span>Фамилия</span>
                <input type="text" required name="surname" placeholder="Иванов"/>
            </label>
            <label>
                <span>Отчество</span>
                <input type="text" required name="midName" placeholder="Иванович"/>
            </label>
            <input type="submit" value="Отправить" />
        </form>
    </div>
</body>
</html>